{
    "applications": {
        "Bali Petrols": {
            "applicationId": "<PARSE APP KEY>",
            "masterKey": "<PARSE APP MASTERKEY>"
        },
        "_default": {
            "link": "Bali Petrols"
        }
    }
}
